.hotelsMainDiv {
    margin: 5% 10%;
    padding: 20px;
    height: max-content;
    align-items: center;
    border: 0px solid;
    background: rgba(0, 0, 0, 0.3);
}

.hotelsDivPreview {
    border: 2px solid;
    border-radius: 30px;
    border-color: white;
    margin: 3% 3%;
    padding: 20px;
    display: inline-block;
    height: max-content;
    width: max-content;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
}

.hotelsImg {
    display: block;
    width: 400px;
    height: 325px;
}

.hotelsImgA {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hotelsLink {
    color: black;
}

.hotelsAddHotelButton{
    display: flex;
    border: 0;
    margin-top: 3%;
    margin-left: 42%;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.hotelsAddHotelButton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.hotelsAddHotelButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}