.hotelMainDiv {
    margin: 5% 10%;
    padding: 20px;
    height: max-content;
    align-items: center;
    border: 0px solid;
    background: rgba(0, 0, 0, 0.3);
    
}

.hotelCarousel{
    height: max-content;
    width: 800px;
    margin-left: 10%;
}

.hotelInfoDiv{

}

.hotelInfoImg{
    height: 400px;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hotelInfoH2{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.hotelP{
    margin-left: 5%;
    margin: 16px 30px 16px 110px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.hotelPGet{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
.hotelLinkRoom{
    color: rgb(11, 221, 200);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-decoration: none;
}


